

<div class="form-group">
  <label>titre</label>
  <input [(ngModel)]="titre" class="form-control">
</div>
<div class="form-group">
  <label>Description</label>
  <input [(ngModel)]="description" class="form-control">
</div>
<div class="form-group">
  <label>salaire</label>
  <input [(ngModel)]="salaire" class="form-control">
</div>
<div class="form-group">
  <label>Type Contrat</label>
  <select  [(ngModel)]="typeContrat" class="form-control">
    <option value="cdi" > CDI</option>
    <option value="cdd" > CDD </option>
    <option value="sivp"> SIVP </option>
  </select> 
</div>
<div>
    <button (click)="Annuler()" class="btn btn-danger" >Annuler</button>
    <button (click)="valider()" class="btn btn-success">Valider</button>
 </div>