<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]='["/"]' >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["detail",123]'>Details</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["ajout"]'>Ajouter</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]='["contact"]'>Contact</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]='["poc"]'>test</a>
      </li>

    </ul>
    <select #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
      </select>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [routerLink]='["inscription"]'>inscription</button>
    </form>
  </div>
</nav>